In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("restaurant-comments.xlsx")

In [4]:
df.head()

                                            comments                date
0  这辈子最爱吃的火锅，一星期必吃一次啊！最近才知道他家还有免费鸡蛋羹………………炒鸡好吃炒鸡嫩... 2017-05-14 16:00:00
1  第N次来了，还是喜欢?……<br><br>从还没上A餐厅的楼梯开始，服务员已经在那迎宾了，然... 2017-05-10 16:00:00
2  大姨过生日，姐姐定的这家A餐厅的包间，服务真的是没得说，A餐厅的服务也是让我由衷的欣赏，很久... 2017-04-20 16:00:00
3  A餐厅的服务哪家店都一样，体贴入微。这家店是我吃过的排队最短的一家，当然也介于工作日且比较晚... 2017-04-25 16:00:00
4  因为下午要去天津站接人，然后我倩前几天就说想吃A餐厅，然后正好这有，就来这吃了。<br>来的... 2017-05-21 16:00:00

In [6]:
# from dateutil import parser
# df["date"] = df.date.apply(parser.parse)

In [7]:
text = df.comments.iloc[0]

In [8]:
#调用snownlp
from snownlp import SnowNLP

In [9]:
s = SnowNLP(text)

In [11]:
s.sentiments

0.739557858818444

In [12]:
#批量计算情感分析值
def get_sentiment(text):
    s = SnowNLP(text)
    return s.sentiments

In [14]:
df["sentiment"] = df.comments.apply(get_sentiment)

In [15]:
df.head()

,comments,date,sentiment
0,这辈子最爱吃的火锅，一星期必吃一次啊！最近才知道他家还有免费鸡蛋羹………………炒鸡好吃炒鸡嫩...,2017-05-14 16:00:00,0.739558
1,第N次来了，还是喜欢?……<br><br>从还没上A餐厅的楼梯开始，服务员已经在那迎宾了，然...,2017-05-10 16:00:00,0.450691
2,大姨过生日，姐姐定的这家A餐厅的包间，服务真的是没得说，A餐厅的服务也是让我由衷的欣赏，很久...,2017-04-20 16:00:00,1.000000
3,A餐厅的服务哪家店都一样，体贴入微。这家店是我吃过的排队最短的一家，当然也介于工作日且比较晚...,2017-04-25 16:00:00,0.118200
4,因为下午要去天津站接人，然后我倩前几天就说想吃A餐厅，然后正好这有，就来这吃了。<br>来的...,2017-05-21 16:00:00,0.871226

In [17]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [20]:
from ggplot2 import *

ImportError: No module named 'ggplot2'

In [ ]:
ggplot(aes(x="date", y="sentiment"), data=df) + geom_point() + geom_line(color = 'blue') + scale_x_date(labels = date_format("%Y-%m-%d"))